body {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header nav ul {
    text-align: right; /* Align list items to the right */
    background-color: rgba(22, 22, 23, .8);
    height: 44px;
    color: rgba(0, 0, 0, .8);
    color-secondary: #333336;
    font-size: 20px;
    backdrop-filter: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 320px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
    user-select: none;*/
}

header, footer {
    color: #black;
    /*padding: 20px 0;*/
}

header h1 a {
    margin: 0;
    text-decoration: none;
    color: black;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #E8E8ED;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
}


/* Section Styles */
/*section {
    padding: 50px 0;
}*/

/* Button Styles */
.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
#contact .contact-list img {
    width: 20px; /* Adjust the width to make the images smaller */
    height: auto; /* Maintain the aspect ratio */
    padding-right: 15px;
    margin-bottom: 10px;
}

#contact .contact-list a {
    text-decoration: none; /* Remove underlines from links */
    display: flex; /* Use flexbox layout */
}


ul,ol {
    list-style: none;
    padding: 0;
}


.contact-list li {
    margin-top: 10px;
/* Optional: Add some space between each contact link */

}


footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: left;
    padding: 0.1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}


nav ul li a {
    position: relative; /* Make the anchor tag a positioned element */
}

nav ul li a::before {
    content: ''; /* Add a pseudo-element */
    position: absolute;
    bottom: 0; /* Place the pseudo-element at the bottom of the link */
    left: 50%; /* Move the line to the center */
    transform: translateX(-50%); /* Center the line horizontally */
    width: 0px; /* Initially set the width to 0 */
    height: 2px; /* Set the height of the line */
    background-color: red; /* Set the color of the line */
    transition: width 0.4s ease, right 0.4s ease; /* Add transition for width and left position */
}

nav ul li a:hover::before {
    width: 85%; /* Expand the line to full width on hover */
    left: 10%; /* Move the line to the left edge of the link */
}

nav ul li a.active::before {
    display: none; /* Hide the line for the active link */
}


nav ul li a {
    position: relative; */
/* Make the anchor tag a positioned element *//

}



nav ul li a:hover::before {
    transform: scaleX(1);
/* Scale the line to full width on hover */

}



nav ul li:hover a::before {
    transform: scale(1.1); /* Scale up the pseudo-element on hover */
}

    header a {
      font-weight: normal; *//* Set default font weight for links */
      text-decoration: none;
      padding: 5px 5px;
    }

    header a:hover {
        font-weight: bold; *//* Make the text bold */
    }

    .active {
        color: red; /* Change to desired color */
        font-weight: bold; /* Make the text bold */
    }

    section {
      padding: 20px;
    }

    /* Animation effects */
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    .fadeIn {
      animation: fadeIn 5s ease;
    }*/

    /* Responsive Styles */
    @media (max-width: 768px) {
        .container {
            padding: 0 10px;
        }
    }
